<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset='utf-8'></meta>
    <!-- <link rel="stylesheet", href="/static/main.css"></link> -->
</head>
<body>
    <img id='master' style="display:none" src='https://www.gstatic.com/travel-booking/credit-card-mastercard.png'/>
    <img id='visa' style="display:none" src='https://www.gstatic.com/travel-booking/credit-card-visa.png'/>
    <img id='amex' style="display:none" src='https://www.gstatic.com/travel-booking/credit-card-amex.png'/>
    <div style="background-color:black" >
        <div style="color:white;text-align: center;">
           <img id='gpay' src='https://www.gstatic.com/instantbuy/svg/dark_gpay.svg'/><span id="pii"></span>
        </div>
    </div>
</body>
<script type="text/javascript">
    function refresh() {
      const display = document.getElementById('pii');
      if (document.cookie) {
        const parsedCookie = document.cookie.split(';').map(v=>v.split('=')).reduce((acc, v) => {
          acc[decodeURIComponent(v[0].trim())] = decodeURIComponent(v[1].trim());
          return acc;
        }, {});
        const separator = document.createElement('span');
        separator.textContent = ' | ';
        display.innerHTML = '';
        display.appendChild(separator);
        const network = document.getElementById(parsedCookie["networkId"]);
        if (network) {
          network.style.display = 'inline';
          network.width = 25;
          display.appendChild(network);
        }
        const fourDigits = document.createElement('span');
        fourDigits.textContent = parsedCookie["fourDigits"];
        display.appendChild(fourDigits);
      } else {
        display.innerHTML = '';
      }
    }

    refresh();
</script>
</html>
