<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset='utf-8'></meta>
    <!-- <link rel="stylesheet", href="/static/main.css"></link> -->
</head>
<body>
    <h1>Cookie demo</h1>
    <div>
        <div><span>Cookie: </span><code id='cookieDisplay'></code></div>
        <button onclick='setCookie()'>Set cookie</button>
        <button onclick='refresh()'>Refresh cookie</button>
        <button onclick='clearCookie()'>Clear cookie</button>
    </div>
</body>
<script type="text/javascript">
    function setCookie() {
       document.cookie = 'fourDigits="1234";SameSite=None;Secure';
       refresh();
    }

    function clearCookie() {
        document.cookie = 'fourDigits=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;SameSite=None;Secure';
        refresh();
    }

    function refresh() {
         const display = document.getElementById('cookieDisplay');
         display.textContent = document.cookie || "(no cookie)";
    }

    refresh();
</script>
</html>
