<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset='utf-8'></meta>
    <!-- <link rel="stylesheet", href="/static/main.css"></link> -->
    <title>GPay login</title>
</head>
<body>
    <div id='container'>
        <div id='loggedInSection'>
            <div>
                <label for="cc">Card Number:</label>
                <input type="text" id="cc" value='4024007101623055' />
                <label for="network">Network:</label>
                <input type="text" id="network" value='visa'/>
            </div>
            <button onclick='setCookie()'>GPay Login</button>
        </div>
        <div id='loggedOutSection'>
            <button onclick='clearCookie()'>GPay Logout</button>
            <p id='cookieDisplay'></p>
        </div>
        <iframe id='frame' src='fencedframe.html' frameBorder=0 style="height:40px"></iframe>
    </div>
    <div>
        Trusted Merchants: <span id='trustedMerchants'></span>
    </div>
</body>
<script type="text/javascript">
    function setCookie() {
        const cc = document.getElementById("cc").value;
        const fourDigits = cc.substr(cc.length-4);
        document.cookie = 'fourDigits=...' + fourDigits+';SameSite=None;Secure';
        document.cookie = 'networkId='+document.getElementById("network").value+';SameSite=None;Secure';
        refresh();
    }

    function clearCookie() {
       document.cookie = 'fourDigits=...4337;networkId=visa;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;SameSite=None;Secure';
       document.cookie = 'networkId=visa;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;SameSite=None;Secure';
       refresh();
    }

    function refresh() {
        var a = document.getElementById("loggedInSection");
        var b = document.getElementById("loggedOutSection");
        if (document.cookie) {
            a.style.display = "none";
            b.style.display = "block";
        } else {
            a.style.display = "block";
            b.style.display = "none";
        }

        const display = document.getElementById('cookieDisplay');
        display.textContent = 'document.cookie: ' + (document.cookie || "(no cookie)");
        document.getElementById('frame').contentWindow.location.reload();
    }

    function showTrustedMerchantList() {
        fetch('./trusted-merchants.json')
          .then(response => response.json())
          .then(data => {
            const trustedMerchants = document.getElementById("trustedMerchants");
            trustedMerchants.textContent = data;
          });
    }

    window.addEventListener('load', (event) => {
      refresh();
      showTrustedMerchantList();
    });
</script>
</html>
